/*****************************************
Material Design - Blue Gray + Blue accent

Blue accent: #0091EA

Blue Gray colors:

50      #ECEFF1
100     #CFD8DC
200     #B0BEC5
300     #90A4AE
400     #78909C
500     #607D8B
600     #546E7A
700     #455A64
800     #37474F
900     #263238
*****************************************/

/*Pace Recoloring*/

.pace .pace-progress {
    background-color: #0091EA;
}

/*Main page CSS*/

body {
    background-color: #37474F !important;
    color: white;
}

.nav > li.active {
    border-color: #CFD8DC;
}

.bg-400 {
    background-color: #78909C;
    color:white;
}

.ibox-content {
    background-color: #37474F;
}

.info-element, .warning-element, .success-element, .danger-element {
    background-color: #546E7A !important;
}

.footer {
    background-color: #37474F !important;
}

.md-skin .navbar-static-side {
    background-color: #455A64 !important;
    color: rgba(255,255,255,0.85);
}

.md-skin .navbar-fixed-top {
    background-color: #37474F !important;
    color: #ffffff;
}

.md-skin .nav > li > a {
    color: rgba(255,255,255,0.7);
}

.md-skin .nav > li > a:hover {
    color: white !important;
}

.md-skin .nav > li:hover {
    background-color: #546E7A;
}

.md-skin .nav > li.active > a {
    color:white;
}

.md-skin .nav > li.active {
    background-color: #0091EA;
    color: white;
}

.btn-primary {
    background-color: #607D8B;
    border-color: #0091EA;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
    background-color: #0091EA;
    border-color: #0091EA;
}